body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    /* position: relative; */
    background-image: url(question-mark2.png);
    /* background-position: center; */
    background-size: 740px 628px;
    background-color: lightpink;
    box-sizing: border-box;
}

#container {
    /* position: relative; */
    /* top: 120px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* left: 35em; */
    /* background-image: url(question-mark2.png); */
    /* background-position: center; */
    /* background-size: 740px 628px; */
}

#wrapper {
    width: 600px;
    height: 75vh;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-align: center;
    top: 4.5em;
}

h1 {
    font-family: 'Pacifico', sans-serif;
    font-size: 2.5em;
    letter-spacing: 3px;
    color: rgb(202, 98, 114);
    text-shadow: 0px 4px 4px  rgb(233, 158, 169);
}

#guess-area {
    font-size: 2em;
    font-family: 'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-weight: 300;
    /* margin-top: 2.5em; */
    padding: 1.5em;
    /* position: relative; */
}

.btn {
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid rgb(202, 98, 114);
    border-radius: 25px;
    color: white;
    padding: 0.5em;
    font-size: 1em;
    margin-top: 30px;
    text-shadow: 0px 4px 4px  rgb(202, 98, 114);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.btn:hover {
    box-shadow: 0px 3px 5px rgb(122, 59, 69);
}

.reset {
    background-color:rgb(202, 98, 114);
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: absolute;
    /* bottom: 0; */
    /*right: 268px; */
    color: white;
    padding: 0.75em;
    /* font-size: 1em; */
    text-shadow: 0px 4px 4px  rgb(202, 98, 114);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}